html, body {
    width: 100%;
    height:100%;
}

.dark-primary-color {
    background: #388E3C;
}

.default-primary-color {
    background: #4CAF50;
}

.light-primary-color {
    background: #C8E6C9;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #448AFF;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}

#wrapper {
    position: relative;
    z-index:-1;
}

#overlayView {
    position: relative;
    top:-64px;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: inherit;
    -webkit-background-size: inherit;
    -moz-background-size: inherit;
    -o-background-size: inherit;
    background-position: center;
    z-index:0;
    left: 0;
    overflow-x: hidden;
    background-image: -webkit-linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url('../assets/img/IMG_0314.png'); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url('../assets/img/IMG_0314.png'); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url('../assets/img/IMG_0314.png'); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url('../assets/img/IMG_0314.png');
}

#overlayView .overlay {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

#overlayView .overlay-content {
    color: white;
    padding: 150px 0 50px 20px;
    text-align: left;
}

#overlayView .overlay-content h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

section h2 {
    color: #757575;
    font-family: 'Roboto Condensed', sans-serif;
}

section p {
    color: #212121;
}

section a {
    color: #448AFF;
}

.header {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: capitalize;
}

.bullet ul li {
    list-style-type: disc;
}

.responsive-img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto
}
