<section id="about" class="text-center" xmlns="http://www.w3.org/1999/html">
  <div class="container card">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h3> About me</h3>
          <hr class="small">
        </div>
        <p><i class="fa fa-terminal" aria-hidden="true"></i> hello</p>
        <p><i class="fa fa-terminal" aria-hidden="true"></i> my name is <span style="color:#EC407A;">richard</span></p>
        <p><i class="fa fa-terminal" aria-hidden="true"></i> i graduated in <span style="color: #A1887F;">electrical engineering </span></p>
        <p><i class="fa fa-terminal" aria-hidden="true"></i> i work across the disciplines of</p>
        <ul class="list-inline">
          <li><p style="color: #8BC34A;">software engineering <i class="fa fa-code"></i></p></li>
          <li><p style="color: #FFC107;">web development <i class="fa fa-window-maximize"></i></p></li>
          <li><p style="color: #00BCD4;">robotics <i class="fa fa-microchip"></i></p></li>
        </ul>
        <p><i class="fa fa-terminal" aria-hidden="true"></i> and i enjoy </p>
        <ul class="list-inline">
          <li><p style="color: #F44336;">machine learning <i class="fa fa-area-chart" aria-hidden="true"></i></p></li>
          <li><p style="color: #9575CD;">karate <i class="fa fa-hand-rock-o" aria-hidden="true"></i></p></li>
        </ul>
      </div>
    </div>
  </div>
</section>
