<section id="contact">
    <div class="container">
      <div class="row">
        <h2>Contact</h2>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h2>For more...</h2>
          <p>Please visit my <a class="text-white" href="https://github.com/RichardCheung1?tab=repositories">Github repo</a></p>
          <p>or visit my <a class="text-white" href="https://www.linkedin.com/in/richard-liyang-cheung/">LinkedIn profile</a></p>
        </div>
        <div class="col-lg-8">
          <ul class="list-inline">
            {% for social in site.socials limit:1 %}
            <li>
              <a href="{{ social.url }}" class="btn btn-default btn-social">
                <i class="fa fa-{{ social.icon }} fa-fw"></i>
                <span class="social-btn">{{ social.title }}</span>
              </a>
            </li>
            {% endfor %}

            {% for social in site.socials offset:1 %}
            <li>
              <a href="{{ social.url }}" target="_blank" class="btn btn-default btn-social">
                <i class="fa fa-{{ social.icon }} fa-fw"></i>
                <span class="social-btn">{{ social.title }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</section>
